body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius:20%;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.Red{
    background-color: #c76c51;
}
.Yellow{
    background-color: #51ff00;
}
.Blue{
    background-color: #5f35c0;
}
.Pink{
    background-color: #7c68ab;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}